<tr>
	<td><%= person.first_name %></td>
	<td><%= person.last_name %></td>
	<td><%= link_to 'Show', person %></td>
	<td><%= link_to 'Edit', edit_person_path(person) %></td>
	<td><%= link_to 'Delete', person, method: :delete %></td>
</tr>